@media (max-width: 1500px) {
  // ОБЩИЕ СТИЛИ
  .container {
    max-width: 1024px;
  }

  .titleH2 {
    font-size: 60px;
    line-height: 73px;
  }

  .subtitle {
    font-size: 44px;
    line-height: 53px;
  }

  .paragraf {
    font-size: 30px;
    line-height: 50px;
  }

  // АЛИСА
  // .intro {
  //   прописать св-ва для картинки и шрифтов
  // }
  // АРИНА

  // ТАНЯ
  // ЛЮДА
  // НАТАША
  // АНЯ
  // ВИКА
}
/* здесь ваши стили для планшета */
@media (max-width: 968px) {
  .container {
    max-width: 620px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  // .titleH2 {
  //   font-size: 60px;
  //   line-height: 73px;
  // }

  // .subtitle {
  //   font-size: 44px;
  //   line-height: 53px;
  // }

  // .paragraf {
  //   font-size: 30px;
  //   line-height: 50px;
  // }

  // АЛИСА
  // .intro {
  //   прописать св-ва для картинки и шрифтов
  // }
  // АРИНА

  .aboutme {
    margin-top: 115px;
  }

  .about {
    display: flex;
    justify-content: center;
    justify-self: center;
    gap: 34px;

    .about__photo {
      width: 390px;
      height: 548px;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;

      .photo_2 {
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
      }
    }

    .about__text {
      width: 50%;
    }

    .about__paragraf {
      font-size: 30px;
      line-height: 50px;
      margin: auto;
    }
    .about__titleH2 {
      margin: auto;
    }
  }

  // ТАНЯ

  // ЛЮДА

  // НАТАША

  // АНЯ

  // ВИКА
}

@media (max-width: 640px) {
  .container {
    max-width: 480px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .titleH2 {
    font-size: 36px;
    line-height: 44px;
  }

  .subtitle {
    font-size: 44px;
    line-height: 53px;
  }

  .paragraf {
    font-size: 16px;
    line-height: 25px;
  }

  // АЛИСА
  // .intro {
  //   прописать св-ва для картинки и шрифтов
  // }
  // АРИНА

  .aboutme {
    margin-top: 115px;
  }

  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    gap: 21px;

    .about__photo {
      width: 186px;
      height: 239px;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;

      .photo_2 {
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
      }
    }

    .about__text {
      width: 60%;
    }
    .about__titleH2 {
      order: 1;
    }

    .about__paragraf {
      font-size: 16px;
      line-height: 23px;
      margin: auto;
    }
  }

  // ТАНЯ

  // ЛЮДА

  // НАТАША

  // АНЯ

  // ВИКА
}
