@import "colors";
@import "mixins";

@media (max-width: 1200px) {

  // ОБЩИЕ СТИЛИ
  .container {
    max-width: 1024px;
  }

  .titleH2 {
    font-size: 60px;
    line-height: 73px;
  }

  .subtitle {
    font-size: 44px;
    line-height: 53px;
  }

  .paragraf,
  .more,
  .details {
    font-size: 30px;
    line-height: 50px;
  }

  // АЛИСА
  .header {
    .logo {
      &__title {
        font-size: 26px;
        line-height: 32px;
      }
    }

    .nav {
      width: 65%;

      &__info {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  // АЛИСА
  .intro {
    margin-top: 29px;
    gap: 30px;

    &__text {
      width: 50%;
      text-align: center;
    }

    &__title {
      font-size: 63px;
      line-height: 77px;
      letter-spacing: 4%;
      letter-spacing: 0.04em;
    }

    &__job {
      font-size: 26px;
      line-height: 32px;
    }

    &__quote {
      font-size: 24px;
      line-height: 29px;
    }
  }

  // // АРИНА
  .about {
    gap: 34px;

  }

  // ТАНЯ
  // УСЛУГИ
  .servise {

    &__list {
      font-size: 30px;
      line-height: 50px;
    }

    &__circle {
      width: 0.8em;
      font-size: 40px;
    }
  }

  // ЛЮДА
  // НАТАША
  // АНЯ
  .review {
    &__text {
      font-size: 16px;
      line-height: 25px;
    }

    &__image {
      width: 4%;
      height: 4%;
    }
  }

  #slide,
  #slide1,
  #slide2,
  #slide3,
  #slide4,
  #slide5,
  #slide6,
  #slide7 {
    padding: 0px;
  }

  // ВИКА
  .navbar {

    &__text {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .social-network {

    &__whatsapp,
    &__telegram {
      width: 44px;
      height: 41px;
    }
  }
}

@media (max-width: 968px) {
  .container {
    max-width: 620px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .screen {
    margin-bottom: 46px;
  }

  .titleH2 {
    font-size: 38px;
    line-height: 40px;
  }

  .subtitle {
    font-size: 28px;
    line-height: 25px;
  }

  .paragraf,
  .price__more,
  .details {
    font-size: 18px;
    line-height: 25px;
  }

  .button-green {
    font-size: 20px;
    line-height: 24px;
    padding: 17px 30px;
  }

  // BURGER-MENU =TATIANA
  .nav {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active {
    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: $color-bg-dark;
    padding: 0px 0px 10px 0px;

    li {
      margin: 11px 0;
    }
  }

  // BURGER-MENU-END =TATIANA
  // АЛИСА
  .intro {
    margin-top: 25px;
    gap: 15px;

    &__title {
      font-size: 40px;
      line-height: 49px;
    }

    &__job {
      font-size: 16px;
      line-height: 20px;
    }

    &__quote {
      font-size: 16px;
      line-height: 20px;
      padding-top: 0;
      margin-top: 40px;
    }

    &__photo {
      width: 249px;
      height: 311px;
    }
  }

  // АРИНА
  .about {
    gap: 32px;

    &__photo {
      width: 249px;
      height: 311px;
    }
  }

  // ТАНЯ
  // ЛЮДА
  .servise {

    &__list {
      font-size: 18px;
      line-height: 25px;
    }

    &__circle {
      width: 0.8em;
      font-size: 28px;
    }
  }

  .tariff {
    padding: 30px 0;
  }

  // НАТАША
  // АНЯ
  .review {
    &__text {
      font-size: 15px;
    }

    &__image {
      width: 4%;
      height: 4%;
    }
  }

  // ВИКА
  .navbar {

    &__text {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .social-network {

    &__whatsapp {
      margin-right: 43px;
    }

    &__whatsapp,
    &__telegram {
      width: 44px;
      height: 44px;

      .socialicon {
        max-width: 44px;
      }
    }
  }
}

@media (max-width: 620px) {
  .container {
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .screen {
    margin-bottom: 38px;
  }

  .titleH2 {
    font-size: 36px;
    line-height: 60px;
    text-align: center;
  }

  .subtitle {
    font-size: 28px;
    line-height: 25px;
    text-align: center;
  }

  .button-green {
    line-height: 17px;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 8px;
  }

  .paragraf,
  .price__more {
    font-size: 16px;
    line-height: 25рх;
  }

  // АЛИСА
  .names {
    margin-bottom: 1px;
  }

  .intro {
    margin-top: 0px;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: center;

    &__text {
      width: 100%;
    }

    &__title {
      font-size: 38px;
      line-height: 46px;
    }

    &__quote {
      display: none;
    }

    &__photo {
      width: 214px;
      height: 262px;
    }

    &__quote-mobile {
      @include h4;
      display: flex;
      font-size: 16px;
      line-height: 20px;
      padding-top: 0;
      margin-top: 40px;
      text-align: center;
    }
  }


  // АРИНА
  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;

    &__text {
      width: 100%;
      text-align: center;
    }

    &__photo {
      width: 214px;
      height: 262px;
    }

    &__titleH2 {
      display: none;
    }

    &__titleH2-media {
      display: inline-flex;
      line-height: 50px;
    }
  }

  // ТАНЯ
  .info {
    &__paragraf {
      text-align: center;
    }

    &__button {
      justify-content: center;
    }
  }

  // ЛЮДА&NATALIA
  .container-app {
    padding-left: 15px;
    padding-right: 15px;
  }

  .servise {
    &__list {
      font-size: 16px;
      line-height: 25рх;
      margin-left: -20px;
    }

    &__circle {
      font-size: 20px;
    }
  }

  .tariff {
    flex-direction: column;
    padding: 25px 0;
    align-items: center;
    justify-content: center;

    .price {
      font-size: 16px;
      line-height: 22px;
      width: 100%;
      align-items: start;
      padding-bottom: 20px;
    }
  }

  // ЛЮДА
  .psycho-content {
    ul {
      margin-left: -10px;
    }

    &__second {
      text-align: center;
    }

    &__hidden {
      text-align: start;
    }
  }

  // НАТАША
  .detail {
    text-align: center;
  }

  .energy-content {
    ul {
      margin-left: -10px;
    }
  }

  // АНЯ
  .review {
    &__text {
      font-size: 14px;
    }

    &__image {
      width: 3%;
      height: 3%;
    }
  }

  #slide,
  #slide1,
  #slide2,
  #slide3,
  #slide4,
  #slide5,
  #slide6,
  #slide7 {
    height: 550px;
  }

  .blog {
    &__paragraf {
      text-align: center;
    }

    &__button {
      justify-content: center;
    }
  }

  .navbar {
    justify-content: space-around;

    &__text {
      font-size: 20px;
    }
  }

  .social-network {

    &__whatsapp {
      margin-right: 20px;
    }

    &__whatsapp,
    &__telegram {
      width: 30px;
      height: 33.8px;

      .socialicon {
        width: 30px;
        height: 33.8px;
      }
    }
  }
}