// @mixin title {

// }

@mixin navigator {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

@mixin logos {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
}

@mixin h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 109px;
    font-size: 90px;
    color: $color-black;
    letter-spacing: 0.04em;
    text-align: center;
}

@mixin h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    color: $color-dark;
}

@mixin h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: $color-green;
}

@mixin h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 60px;
    font-size: 36px;
    color: $color-dark;
}


@mixin p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
}

@mixin phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: $color-dark;
}

@mixin btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

// кнопка зеленая
@mixin button-green {
    @include btn;
    padding: 17px 35px;
    background-color: $color-green;
    color: $color-light;

}

//  {
//     // outline-color: transparent;- изменить под требования
//     // outline-style: solid;
//     // box-shadow: 0 0 0 2px #f3c496;
//     a:hover {свойства;}
// Когда нажали на ссылку — a:active {свойства;}
// Когда перешли по ссылке — a:visited
// }
// }

@mixin button-light {
    @include btn;
    padding: 10px 25px;
    background-color: $color-light;
    color: $color-dark;

    &:hover {
        // background-color: $color-primary-light;
        transition: 0.7s;
    }

    // &:focus {
    //     // outline-color: transparent;- изменить под требования
    //     // outline-style: solid;
    //     // box-shadow: 0 0 0 2px #f3c496;
    // }
}

@mixin phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: $color-dark;
}

@mixin btnmobile {
    font-size: 14px;
    line-height: 17px;
}