@mixin navigator {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

@mixin logos {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
}

@mixin h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    // line-height: 109px;
    font-size: 90px;
    color: $color-black;
    letter-spacing: 0.04em;
    text-align: center;
}

@mixin h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    color: $color-dark;
}

@mixin h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: $color-green;
}

@mixin h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 60px;
    font-size: 36px;
    color: $color-dark;
}

@mixin p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
}

@mixin phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: $color-dark;
}

@mixin btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    border-radius: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
}

// кнопка зеленая
// @mixin button-green {
//     @include btn;
//     padding: 17px 35px;
//     background-color: $color-green;
//     color: $color-light;
// }

@mixin button-green {
    @include btn;
    padding: 17px 35px;
    background-color: $color-green;
    color: $color-light;
    box-shadow: 8px 10px 10px 1px #7a8b6fb3;

    &__help {

        &:hover,
        &:active {
            color: $color-dark;
            transition: 0.7s;
        }
    }

    // &__help= то как ведет себя ссылка в кнопке

    &:hover {
        background-color: $color-green-light;
        transform: scale(1, 1.1);
        transition: 0.7s;
        color: $color-dark;
    }
}

@mixin btnmobile {
    font-size: 14px;
    line-height: 17px;
}