@import "colors";
@import "mixins";

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

// Обшие стили для всего документа, то что повторяется
.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    background-color: $color-bg-main;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-light;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        inset: -10px;
    }
}

.header {
    background-color: $color-bg-dark;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-dark;

    .logo {
        &__title {
            @include logos;
        }
    }
}

.nav {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    &__info {
        @include navigator;
        color: $color-nav;

        &:hover {
            color: $color-dark;
            transition: 0.9s;
            padding-bottom: 5px;
            border-bottom: 3px solid $color-dark;
        }

        &:active {
            color: $color-dark;
            transition: 0.7s;
        }
    }

    &__info-call {
        @include button-light;
        background-color: $color-bg-main;

        &:hover {
            color: $color-dark;
            background-color: $color-green;
        }
    }
}

span {
    color: $color-green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 40px;
}

.energy {
    list-style: none;
    margin-bottom: 50px;

    &__title {
        @include h1;
        color: $color-green;
        text-align: left;
    }

    &__paragraf {
        @include h4;
        color: $color-dark;

        &_bold {
            font-weight: 500;
        }
    }

    &__list {
        @include h4;
        font-weight: 600;
        text-align: justify;
    }

    &__item {
        @include h4;
        padding-left: 40px;
    }

    &__subtitle {}
}

.span {
    width: 1.5em;
}

.list {
    &__item {
        @include h4;
        // padding-left: 40px;
    }
}

.tariff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    &__price {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__more {
        margin: 0;
        @include h4;
    }

    &__button-green {
        @include button-green;
        text-align: center;

        &__help {
            color: $color-light;

            &:hover,
            &:active {
                color: $color-dark;
                transition: 0.7s;
            }
        }
    }
}





.help {
    color: $color-light;

    &:hover,
    &:active {
        color: $color-dark;
        transition: 0.7s;
    }
}

.footer {
    background-color: $color-bg-dark;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    // height: auto;
    @include phone;

    &__nav {
        // min-height: 120px;
        bottom: 0;
    }
}

.contacts {
    display: flex;
    justify-content: flex-end;
    width: 20%;

    .social-media {
        display: flex;
        flex-direction: row;

        &__whatsapp,
        &__telegram {
            width: 50px;
            padding: 10px 0;

            &:hover,
            &:active {
                color: $color-green;
            }
        }

        &__whatsapp {
            margin: 0 40px;
        }
    }
}

/* здесь ваши стили для ноутбука */
@media (max-width: 1500px) {

    // ОБЩИЕ СТИЛИ
    .container {
        max-width: 1024px;
    }

    .titleH2 {
        font-size: 60px;
        line-height: 73px;
    }

    .subtitle {
        font-size: 44px;
        line-height: 53px;
    }

    .paragraf {
        font-size: 30px;
        line-height: 50px;
    }

    // АЛИСА
    // .intro {
    //   прописать св-ва для картинки и шрифтов
    // }
    // АРИНА

    // ТАНЯ

    // ЛЮДА

    // НАТАША

    // АНЯ

    // ВИКА
}

/* здесь ваши стили для планшета */
@media (max-width: 900px) {
    .container {
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
    }

    // .titleH2 {
    //   font-size: 60px;
    //   line-height: 73px;
    // }

    // .subtitle {
    //   font-size: 44px;
    //   line-height: 53px;
    // }

    // .paragraf {
    //   font-size: 30px;
    //   line-height: 50px;
    // }

    // АЛИСА
    // .intro {
    //   прописать св-ва для картинки и шрифтов
    // }
    // АРИНА

    // ТАНЯ

    // ЛЮДА

    // НАТАША

    // АНЯ

    // ВИКА
}

@media (max-width: 640px) {
    .container {
        max-width: 480px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .container {
        max-width: 1024px;
    }

    .titleH2 {
        font-size: 60px;
        line-height: 73px;
    }

    .subtitle {
        font-size: 44px;
        line-height: 53px;
    }

    .paragraf {
        font-size: 30px;
        line-height: 50px;
    }

    // АЛИСА
    // .intro {
    //   прописать св-ва для картинки и шрифтов
    // }
    // АРИНА

    // ТАНЯ

    // ЛЮДА

    // НАТАША

    // АНЯ

    // ВИКА
}