@import "colors";
@import "mixins";

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

// Примерно такой css должен получится, конечно, можете выбрать другие брейкпоинты, если вам удобней и понятней 
/* здесь ваши стили для десктопа (компьютер) */
.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    background-color: $color-bg-main;
}

.navbar {
    background: $color-dark;
    height: 200px;
    width: 100%;
    order: 1;
}

// ALISA


// ABOUT ME =ARINA


// INFO =TATIANA
// INFO =TATIANA end
.services {
    background: $color-bg-main;
    // padding: 30px 100px;
}

.titleH2 {
    @include h2;
}

.energy {
    background: $color-light;
    border-radius: 30px;
    margin: 0 auto;
    padding: 30px;

    &__subtitle {
        @include h3;
    }

    &__paragraf {
        @include h4;
    }

    &__price {
        @include h4;
        display: flex;
    }
}

// PSYCHO =LYUDMILA

// ENERGU =NATALIA
ul {
    list-style: none;
}

span {
    color: $color-green;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    font-size: 40px;
}

label {
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    @include p;
}

.list {
    display: none;
}

.checkbox {
    display: none;
}

.checkbox:checked~.list {
    display: block;
}

.button-green {
    @include button-green;
}

// REVIEW =ANNA


// FOOTER =VICTORIA


@import "media";