@import "colors";
@import "mixins";

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

// Обшие стили для всего документа, то что повторяется
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.screen {
    margin-bottom: 115px;
}

body {
    background-color: $color-bg-main;
}

.bold {
    font-weight: bold;
}

.titleH2 {
    @include h2;
}

.paragraf {
    @include h4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-light;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        inset: -20px;
    }
}

// Проверить как себя ведет на моб экране
// inset: -30p увеличивает область клика на ссылку

.button-green {
    @include button-green;
}

// разные разделы, смотрим, что вынесено в обший
// ALISA
.header {
    background-color: $color-bg-dark;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-dark;

    .logo {
        &__title {
            @include logos;
        }
    }
}

.nav {
    width: 70%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    &__info {
        @include navigator;
        color: $color-nav;

        &:hover {
            color: $color-dark;
            transition: 0.9s;
            padding-bottom: 5px;
            border-bottom: 3px solid $color-dark;
        }

        &:active {
            color: $color-dark;
            transition: 0.7s;
        }
    }
}

// BURGER-MENU =TATIANA
.navbar-toggle {
    display: none;
    cursor: pointer;

    .bar {
        display: block;
        width: 36px;
        height: 4px;
        background-color: $color-nav;
        margin: 5px 0;
    }
}

// SECTION ONE
.intro {
    width: 100%;
    display: flex;
    color: $color-dark;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;

    &__text {
        text-align: center;
        color: $color-dark;
    }

    &__title {
        @include h1;
        // white-space: nowrap;

    }

    &__job {
        @include h4;
        line-height: 44px;
    }

    &__quote {
        @include h4;
        font-size: 36px;
        line-height: 44px;
        font-weight: 300;

        margin-top: 100px;
    }

    &__photo {
        width: 560px;
        height: 687px;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .photo_1 {
            object-fit: cover;
            width: 100%;
        }
    }
}

.intro-mobile {
    &__quote {
        display: none;
    }
}

// ABOUT ME =ARINA
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    &__photo {
        width: 560px;
        height: 687px;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .photo_2 {
            object-fit: cover;
            width: 100%;
        }
    }

    &__titleH2 {
        display: flex;
    }

    &__text {
        width: 50%;
    }
}

.about-media__titleH2 {
    display: none;
}

// INFO =TATIANA
.info {
    @include h4;
    margin-bottom: 117px;

    &__paragraf {
        line-height: 70px;
    }

    &__button {
        display: flex;
        justify-content: end;

    }

    // .button-green-shadow {
    //     @include button-green-shadow;
    // }
}

// SERVIS general
.container-app {
    max-width: 1390px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    background: $color-light;
    border-radius: 30px;
    display: flex;
}

.subtitle {
    @include h3;
}

.servise {
    &__list {
        @include h4;
    }

    &__circle {
        color: $color-green;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        font-size: 50px;
    }
}

.tariff {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__more {
        margin: 0;
        @include h4;
    }
}


// / PSYCHO =LYUDMILA
.psycho {
    padding-bottom: 48px;
}

.psycho-content {
    &__hidden {
        display: none;
    }

    ul {
        margin-left: -20px;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked~.psycho-content__hidden {
        display: block;
    }
}

// / ENERGU =NATALIA

.details {
    @include h4;
    color: $color-green;
    font-weight: 600;
    border-bottom: 5px double $color-green;

    &:hover,
    &:active {
        color: $color-dark;
        transition: 0.9s;
        padding-bottom: 5px;
        border-bottom: 3px solid $color-dark;
    }
}

.energy-content {
    ul {
        margin-left: -20px;
    }
}

// ENERGU =NATALIA

// REVIEW =ANNA


.review {
    background-color: $color-bg-main;
    height: 100%;

    &__title {
        display: flex;
        align-content: center;
    }

    &__text {
        @include p;
        color: $color-black;
        font-size: 17px;
    }

    &__image {
        width: 5%;
        height: 5%;
    }

}

#slide,
#slide1,
#slide2,
#slide3,
#slide4,
#slide5,
#slide6,
#slide7 {


    display: flex;
    flex-direction: row;
    height: 550px;
    justify-content: start;
    align-items: center;
    margin: 10px;
    padding: 45px;
    gap: 5px;
    background-color: $color-light;
    border-radius: 10%;
}

#swiper-button-prev,
#swiper-button-next {
    color: $color-black;
    top: 50%;
}

.swiper-pagination-bullet-active {
    background-color: $color-dark;

}

//  =VICTORIA

.button__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

// FOOTER =VICTORIA
.footer {
    background-color: $color-bg-dark;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    @include phone;
}

.contacts {
    .social-media {
        display: flex;
        align-items: center;

        //     &:hover,
        //     &:active {
        //         background: rgba(0, 0, 0, 0);
        //         color: $color-nav;
        //         box-shadow: inset 0 0 0 3px $color-nav;
        //         border-radius: 10px;
        //     }
        // }
        &__whatsapp,
        &__telegram {
            width: 60px;
            height: 60px;
            margin: 0 15px;


            &:hover,
            &:active {
                background: rgba(220, 228, 224, 0.6);
                color: $color-nav;
                border: 2px $color-nav;
                border-style: none;
                box-shadow: 15px 0px 50px 0 rgba(247, 245, 245, 0.979);
                border-radius: 100%;
            }
        }

        .socialicon {
            border: 2px solid $color-nav;
            border-radius: 50px;
            border-style: none;
            // box-shadow: 1px 5px 5px 0 rgba(247, 245, 245, 0.979);
        }
    }
}


@import "media";